<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated UniversityGenerator -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="UniversityMetamodel.presentation.UniversityMetamodelModelWizardID"
            name="%_UI_UniversityMetamodelModelWizard_label"
            class="UniversityMetamodel.presentation.UniversityMetamodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/UniversityMetamodelModelFile.gif">
         <description>%_UI_UniversityMetamodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated UniversityGenerator -->
      <editor
            id="UniversityMetamodel.presentation.UniversityMetamodelEditorID"
            name="%_UI_UniversityMetamodelEditor_label"
            icon="icons/full/obj16/UniversityMetamodelModelFile.gif"
            extensions="universitymetamodel"
            class="UniversityMetamodel.presentation.UniversityMetamodelEditor"
            contributorClass="UniversityMetamodel.presentation.UniversityMetamodelActionBarContributor">
      </editor>
   </extension>

</plugin>
